---
title: Charting Narratives
url: https://a4c-charting-narratives.vercel.app/
client:
  name: Arch4Change
  url: https://www.arch4change.com/
roles:
  - designer
  - dev
tags: 
  - Scrollytelling
details:
  - name: Client
    value: Arch4Change
  - name: Role
    value: Design and Development
  - name: Main Skills
    value: 
      - Ideation
      - Figma
      - Svelte
      - D3.js
      - GSAP
date: 2023-09-01T00:00:00.000Z
---


<script>
  import Stack from '$lib/components/layout/stack/Stack.svelte';
  import Sidebar from '$lib/components/layout/sidebar/Sidebar.svelte';
  import Box from '$lib/components/layout/box/Box.svelte';
  import Switcher from '$lib/components/layout/switcher/Switcher.svelte';
  import Center from '$lib/components/layout/center/Center.svelte';
  import Cluster from '$lib/components/layout/cluster/Cluster.svelte';
  import ExternalLink from '$lib/components/composed/external-link/ExternalLink.svelte'

  import Paragraph from '$lib/components/typography/paragraph/Paragraph.svelte'
  
  import Container from '$lib/components/composed/container/Container.svelte';
  import Image from '$lib/components/composed/image/Image.svelte';
  import Grid1x2 from '$lib/components/layout/grid/Grid1x2.svelte';
  import Video from '$lib/components/composed/video/Video.svelte';
</script>

<Container>
  <Image 
    srcset={[
      { href: "/project-media/charting-narratives/cover-960w.webp", width: 960, height: 1078 },
      { href: "/project-media/charting-narratives/cover-1536w.webp", width: 1536, height: 960 },
      { href: "/project-media/charting-narratives/cover-2560w.webp", width: 2560, height: 1440 }
    ]}
    alt="Preview of {title}"  
  />
</Container>

<Container maxWidth="sm" intrinsic>

  <Stack class="flex-2">

    <Paragraph>
      Charting Narratives is a data scrollytelling application made for <ExternalLink href="{client.url}">{client.name}</ExternalLink>. It guides the user through the findings of a survey on climate justice for architecture education conducted among staff and students of architecture colleges.
    </Paragraph>
    <Paragraph>
      The survey conducted by Arch4Change colleges directed and dictated how the curriculum should be created. Based on it, it's possible to convey the story of Arch4Change's origin and its reason to exist. I decided to tell this story with a scrollytelling piece that starts and ends with a timeline. Guiding the user through the key findings of the interviews. The end of the line guides the user to Arch4Change website to learn more about the curriculum.
    </Paragraph>
  </Stack>
  
</Container>

<Container maxWidth="sm" intrinsic>
  <Video 
    title="Charting Narratives - Demo" 
    videoId="gi2MYe09sY8"
    width="590"
    height="1280"
    class="aspect-[590/1280] max-w-80"
  />
</Container>
