---
title: Branding Tools
client:
  name: Bendito Design
  url: https://www.benditodesign.com.br/
roles:
  - dev
details:
  - name: Main Skills
    value: 
      - Svelte
      - D3.js
date: 2024-12-01T00:00:00.000Z
---

<script>
  import Container from '$lib/components/composed/container/Container.svelte';
  import Image from '$lib/components/composed/image/Image.svelte';
  import Grid1x2 from '$lib/components/layout/grid/Grid1x2.svelte';
  import Stack from '$lib/components/layout/stack/Stack.svelte';
  import Sidebar from '$lib/components/layout/sidebar/Sidebar.svelte';
  import Box from '$lib/components/layout/box/Box.svelte';
  import Switcher from '$lib/components/layout/switcher/Switcher.svelte';
  import Grid2x2 from '$lib/components/layout/grid/Grid2x2.svelte';
  import Paragraph from '$lib/components/typography/paragraph/Paragraph.svelte'
</script>


<Container>
  <Image 
    srcset={[
      { href: "/project-media/branding-tools/cover-960w.webp", width: 960, height: 541 },
      { href: "/project-media/branding-tools/cover-1536w.webp", width: 1536, height: 960 },
      { href: "/project-media/branding-tools/cover-2560w.webp", width: 2560, height: 1440 }
    ]}
    alt="Preview of {title}"  
  />
</Container>


<Container maxWidth="sm" intrinsic>
  <Stack>

    <Paragraph>
      This tool was developed to support our client's clients in making informed branding decisions. It was collaboratively designed by the Odd Studio team and developed by me.
    </Paragraph>

    <Paragraph>
      To respect the confidentiality of the project, all verbal and visual content has been masked to protect sensitive information.
    </Paragraph>

  </Stack>
</Container>


<Grid2x2>
  <Box>
    <Image srcset={[{ href: "/project-media/branding-tools/media-1_1-1920w.webp", width: 1120, height: 1080 }]} />
  </Box>

  <Box>
    <Image srcset={[{ href: "/project-media/branding-tools/media-1_2-1920w.webp", width: 1120, height: 1080 }]} />
  </Box>

  <Box>
    <Image srcset={[{ href: "/project-media/branding-tools/media-1_3-1920w.webp", width: 1120, height: 1080 }]} />
  </Box>

  <Box>
    <Image srcset={[{ href: "/project-media/branding-tools/media-1_4-1920w.webp", width: 1120, height: 1080 }]} />
  </Box>
</Grid2x2>
