---
title: What about Proteins?
roles:
  - designer
  - dev
tags: 
  - Exhibition Printing
  - Static Visualization
details:
  - name: Main Skills
    value: 
      - Adobe Illustrator
      - D3.js
      - Figma
date: 2023-01-25T00:00:00.000Z
---

<script>
  import Container from '$lib/components/Container.svelte';
  import Image from '$lib/components/Image.svelte';
  import Columns from '$lib/components/Columns.svelte';
  import Grid2x2 from '$lib/components/Grid2x2.svelte';
  import Stack from '$lib/layouts/Stack.svelte';
  import Box from '$lib/layouts/Box.svelte';
  import Cluster from '$lib/layouts/Cluster.svelte';
  import Link from '$lib/components/Link.svelte';
</script>

<Container>
  <Image 
    srcset={[
      { href: "/project-media/what-about-proteins/cover-960w.webp", width: 960 },
      { href: "/project-media/what-about-proteins/cover-1536w.webp", width: 1536 },
      { href: "/project-media/what-about-proteins/cover-2560w.webp", width: 2560 }
    ]}
    alt="Preview of {title}"  
  />
</Container>

<Container intrinsicCentering={true}>
  <Cluster>

    <Link href="/project-media/what-about-proteins/what-about-proteins.pdf">
      English Version
    </Link>

    <Link href="/project-media/what-about-proteins/mas-e-as-proteinas.pdf">
      Portuguese Version
    </Link>

  </Cluster>
</Container>

<Container intrinsicCentering={true}>
  <Stack>

      "What about Proteins?” is maybe one of the most asked questions to vegetarians. It arises from the simplistic view - and surrounded by problems - that meat and eggs are the main protein sources available.

      The question is also the title of this printable piece that encodes the macronutrient amounts and the saturated fat percentage in certain foods, which are organized into food groups. Values refer to raw portions of 100g.

  </Stack>
</Container>