---
title: What About Proteins?
link: https://drive.google.com/file/d/1M5lUXu9iDHYor-umtjNJIr2Mp9prn2Ew/view?usp=sharing
roles:
  - designer
  - dev
tags: 
  - Exhibition Printing
  - Static Visualization
details:
  - name: Main Skills
    value: 
      - Adobe Illustrator
      - D3.js
      - Figma
gallery:
    - proteins-perspective.png
    - proteins-overview.png
widths:
  - 480w
  - 640w
date: 2023-01-25T00:00:00.000Z
excerpt: 
---

"What about proteins?" primarily encodes the amount of macronutrients - proteins, carbohydrates, and lipids - of different foods.

The project's title is maybe one of the most asked questions to vegetarians. It arises from the simplistic view - and surrounded by problems - that meat and eggs are the main available protein sources.

# The Idea
As a vegan person, I'm asked about where I get my proteins from in a regular basis. In order to answer this question and provide further information on food group nutrients, I decided to encode food data on a printable piece.