---
title: Skill Universe
link: https://skill-universe.italodoliva.com.br/
roles:
  - designer
  - dev
tags: 
  - Website Visualization
details:
  - name: Role
    value: Ideation and development
  - name: Support
    value: Desktop and mobile
  - name: Main Skills
    value: 
      - D3.js
      - SVG
date: 2023-03-27T00:00:00.000Z
hide: true
---

Skills Universe is the visual representation of my current set of tools for data design work.