@import 'tailwindcss';

@import '$lib/css/font-registry.css';
@import '$lib/css/animation.css';

@theme {
  --color-white: #F7F7F7;
  --color-black: #303235;
  --color-gray: #98989A;
  --color-gray-light: #E8E8E8;
  --color-gray-lightest: #F2F2F2;
  --color-blue: #1F6DEA;

  --font-satoshi: 'Satoshi', sans-serif;
  --font-overlock: 'Overlock', serif;

  --leading-tight: 1.15;
  --leading-snug: 1.3;

  --spacing-text-measure: 55ch;
}

* {
  @apply box-border;
}

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-white font-satoshi text-black text-base leading-snug m-0 p-0;
}

img {
  max-inline-size: 100%;
}

h1, h2, h3, h4, h5, p {
  @apply my-2;
}

p {
  @apply font-overlock max-w-text-measure;
}

h1, h2, h3, h4, h5 {
  @apply font-satoshi font-light text-black leading-tight mx-0;
}

h1 {
  @apply text-lg md:text-2xl;
}

h2 {
  @apply text-base md:text-lg;
}

/* LAYOUT */

/* main > :not(.project-header) > * {
  @apply center-l;
} */

@utility center-l {
  @apply max-w-6xl mx-auto;
}


/* TYPOGRAPHY */

@utility nav-label {
  @apply text-xs md:text-xs;
}

/* SPACING */
@utility hpad {
  @apply px-4 md:px-9 xl:px-10;
}

@utility vpad {
  @apply py-4 md:py-6;
}

@utility pad {
  @apply hpad vpad;
}

/* PADDING */
@utility pad-sm {
  @apply p-1 md:p-3;
}

@utility pad-md {
  @apply p-4 md:p-6;
}




/* SCROLLBAR */
/* Works on Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #dddddd var(--color-gray-lightest);
} */

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  @apply w-3;
}

::-webkit-scrollbar-track {
  @apply bg-gray-lightest border-l border-l-gray-light border-r-0;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  @apply bg-[#dddddd] border-2 border-black/0 border-l-3 border-l-black/0 rounded-md;
}

::-webkit-scrollbar-button {
  @apply w-1 h-1;
}